@import url("./index.css");

.App {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.App-logo {
    width: 15%;
    pointer-events: none;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.app__card {
    display: flex;
    padding: 2em;
    background-color: var(--white);
    border-radius: 15px;
    gap: 3em;
}

.app__totals {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--very-dark-cyan);
    padding: 2em;
    border-radius: 10px;
}
.app__totals__amounts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app__totals__amounts > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app__totals__amounts p {
    color: var(--very-light-grayish-cyan);
}
.app__totals__amounts span {
    color: var(--dark-grayish-cyan);
    font-size: 13px;
}
.app__totals__amounts h2 {
    font-size: 2.5em;
    color: var(--strong-cyan);
}

.form__input {
    display: flex;
    flex-direction: column;
}

.form__input input {
    border: none;
    background-color: var(--very-light-grayish-cyan);
    text-align: end;
    color: var(--very-dark-cyan);
    padding: 5px 15px;
    border-radius: 3px;
}
